*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: bisque;
}
.containera{
    border: 5px solid blue;
    padding: 30px;
    border-radius: 10px;
    width: 50%;
    display: none;
}
button{
    margin-top: 10px;
}
.containerb{
    border: 5px solid blue;
    padding: 30px;
    border-radius: 10px;
    width: 50%;
}
button{
    margin-top: 10px;
}
.containerc{
    border: 5px solid blue;
    padding: 30px;
    border-radius: 10px;
    width: 50%;
}
button{
    margin-top: 10px;
}
.containerd{
    border: 5px solid blue;
    padding: 30px;
    border-radius: 10px;
    width: 50%;
}
button{
    margin-top: 10px;
}
.containere{
    border: 5px solid blue;
    padding: 30px;
    border-radius: 10px;
    width: 50%;
}
button{
    margin-top: 10px;
    background-color: aqua;
    border: solid black;
    border-radius: 5px;
    padding: 10px;
}